/* .trim-search-list-outer > div {
	float: left;
}
.trim-list {
	width: auto;
}

.trim-search-shortcuts {
	width: 36px;
} */

.trim-search-list-outer {
	height: 160px;
	overflow: hidden;
	display: flex;
}
/* .trim-search-list-outer > div {
	display: inline-block;
	box-sizing: border-box;
} */
.trim-list-container {
	/* position: relative;
	display: block;
	width: 100%; */
	width: 100%;
	/* flex-grow: 1; */
	overflow-y: auto;
	border-left: 1px solid;
	padding-left: 4px;
	max-height: 40vh;

	/* height: 260px; */
}

/* .trim-list {
	height: 200px;
} */

.trim-search-shortcuts {
	position: relative;
	display: block;
	width: 44px;
	padding-right: 4px;
}

.trim-search-shortcuts ul {
	list-style: none;
	padding: 0;
	padding-left: 4px;
}

.trim-search-shortcuts li {
	margin-top: 4px;
}

.trim-list {
	height: 100px;
	overflow-y: auto;
}

.trim-list-row {
	padding: 4px 0 4px 0;
	display: flex;
}

.trim-list-row:hover {
	background-color: #f4f4f4;
	cursor: pointer;
}

/* .trim-list-row > div {
	display: inline-block;
} */

.trim-list-row > i {
	/* position: absolute; */

	right: 6px;
	top: 8px;
	font-size: 16px;
}

.trim-find-children {
	width: 20px;
}

.trim-list-row-label {
	width: 100%;
}

.trim-search-list .ms-Breadcrumb {
	margin-top: 0;
	padding: 2px 0 4px 0;
	background-color: #f4f4f4;
}

.trim-search-list .ms-Breadcrumb button {
	text-decoration: underline;
}
.trim-list-row-label {
	display: flex;
}

/* .trim-list-row-label div:first-child {
	width: 24px;
} */

.row-text {
	margin-left: 4px;
}
