body {
	margin: 10;
	padding: 0;
	font-family: sans-serif;
}

.details-view > div {
	border-bottom: solid 1px lightgray;
	margin-bottom: 2px;
	padding-bottom: 2px;
}

.details-view > div:last-child {
	border-bottom: none;
}

.trim-action-button {
	float: right;
}

.trim-ObjectPicker-event--without-label {
	color: rgb(102, 102, 102);
	font-size: 16px;
	line-height: 18px;
	pointer-events: initial;
	position: absolute;
	right: 9px;
	top: 7px;
	cursor: pointer;
}

.trim-footer {
	border-top: 1px solid;
	width: 95%;
	position: absolute;
	bottom: 0;
	height: 80px;
}
.trim-main {
	position: absolute;
	top: 0px;
	bottom: 90px;
	right: 0px;
	left: 0px;
	padding: 0 6px 0 6px;
	overflow-y: scroll;
}

.trim-search-shortcuts li {
	cursor: pointer;
}

.trim-object-picker .ms-TextField-prefix {
	background-color: white;
	padding-left: 5px;
}

.trim-object-pills {
	line-height: 25px;
}
.trim-pill-container {
	position: relative;
	display: inline-flex;
	align-items: center;
	margin-top: 1px;
	margin-right: 2px;
	margin-bottom: 1px;
	cursor: default;
	max-width: 300px;
	vertical-align: middle;
	user-select: none;
	outline: transparent;
	border-radius: 10px;
	background: rgb(244, 244, 244);
}

.trim-pill-content {
	min-width: 0px;
	max-width: 100%;
	flex: 0 1 auto;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	overflow: hidden;
	margin-left: 5px;
}
.trim-pill-container i {
	font-size: 13px;
}

.trim-pill-container button {
	height: 25px;
}
